#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
body {
  background-color: rgb(10, 88, 10);
}

button {
  background-color: brown;
  color: wheat;
  font-size: bold;
  font-size: 1rem;
  margin: 10px;
}

ul {
  list-style-type: none;
}

.homeTitle {
  font-size: 2.5rem;
  color: rgb(117, 28, 28);
}
