#root {
  margin: 0 auto;
  text-align: center;
}
body {
  background-color: rgb(2, 51, 2);
  background: radial-gradient(rgb(3, 70, 3), rgb(1, 28, 1));
  background-color: grag;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: antiquewhite;
}

button {
  background-color: brown;
  color: wheat;
  font-size: bold;
  font-size: 1rem;
  margin: 10px;
}

button:hover {
  font-size: 1.2rem;
}

.backToGameButton {
  font-size: 1.2rem;
}

.backToGameButton:hover {
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
}

.homeTitle {
  font-size: 2.5rem;
  color: rgb(120, 33, 33);
}

form {
  color: antiquewhite;
  font-weight: bold;
  font-size: large;
  border: 5px solid antiquewhite;
  width: 60%;
  margin: auto;
}

.stats {
  display: flex;
  justify-content: space-around;
  font-size: x-large;
  font-weight: bolder;
  color: rgb(232, 193, 119);
  border: 5px solid orange;
  width: 50%;
  margin: auto;
}

.gameTitle {
  font-size: 3rem;
  color: rgb(74, 14, 14);
  background-color: bisque;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.gameContainer {
  color: rgb(190, 190, 234);
  font-size: 2rem;
  font-weight: bold;
}

.betContainer {
  font-size: 1rem;
  font-weight: bold;
}

.betAmount {
  font-size: 1.5rem;
}

form input {
  padding: 10px;
  margin: 20px;
}

.playContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  width: 80%;
}

.rules {
color: antiquewhite;
display: flex;
justify-content: space-around;
width: 100%;
}

.rules li {
  margin: 10px;
}

a {
  color: antiquewhite;
}

.rulesTitle {
  color: brown;
  font-size: 2rem;
}

.rulesLowerSection {
  color: rgb(171, 70, 70);
  font-size: 1.25rem;
  font-weight: bold;
}

.betTitle, .chooseValue {
  font-size: 1.5rem;
  text-decoration: underline;
  margin-bottom: 0px;
}

.suit input {
  font-size: 1rem;
  margin: 10px;
}