#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
body {
  /* background-color: rgb(10, 88, 10); */
  background-image: url("images/cardTable.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

button {
  background-color: brown;
  color: wheat;
  font-size: bold;
  font-size: 1rem;
  margin: 10px;
}

ul {
  list-style-type: none;
}

.homeTitle {
  font-size: 2.5rem;
  color: rgb(117, 28, 28);
}

form {
  color: antiquewhite;
  font-weight: bold;
  font-size: large;
  border: 5px solid darkgreen;
  width: 50%;
  margin: auto;
}

.stats {
  display: flex;
  justify-content: space-around;
  font-size: x-large;
  font-weight: bolder;
  color: rgb(232, 193, 119);
  border: 5px solid orange;
  width: 50%;
  margin: auto;
}

.gameTitle {
  font-size: 3rem;
  color: rgb(74, 14, 14);
  background-color: bisque;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.gameContainer {
  color: rgb(190, 190, 234);
  font-size: 2rem;
  font-weight: bold;
}

.betContainer {
  color: darkgreen;
  font-size: 1rem;
  font-weight: bold;
}

.betAmount {
  font-size: 1.5rem;
}

form input {
  padding: 10px;
  margin: 20px;
}

.playContainer {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
